@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #6e997d;
}

.main {
    position: relative;
    width: 35%;
    text-align: center;
    padding: 20px;
    margin: auto;
    margin-top: 10%;
    border-radius: 15px;
    background-color: #80b192;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


button, input {
    background-color: inherit;
	color: #07090c;
	border: none;
	padding: 5%;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    border-radius: 5px;
    margin: 10px;
}

input {
    padding: 4%;
    margin: 5%;
    background-color: #6e997d;
    color: #a1e887;
    text-align: right;
}

button:hover {
    background-color: #6e997d;
    color: #a1e887;
}

#result {
    width: 50%;
    background-color: #6e997d;
    color: #a1e887;
}
